
header{
   width:900px;
   height:180px;
   margin-left: 10%;
}

h1.header{
   font-family: Arial, Helvetica, sans-serif;
   font-size: small;
   font-weight: 300;
   margin-left: 10%;
}

h2.title{
   text-align:center;
   color:#B39657;
   font-size:55px;
   font-family:Sans-serif;
   font-weight:normal;
   letter-spacing:10px;
}

table{
   margin:0 auto;
   width:900px;
   height:40px;
}

a.home {text-decoration: none;color: #B39657;font-family: Arial, Helvetica, sans-serif;}
a.home:link {text-decoration: none;color: #B39657;font-family: Arial, Helvetica, sans-serif;}
a.home:hover{text-decoration: none;color:#B39657;font-family: Arial, Helvetica, sans-serif;}

a {text-decoration: none;color: black;font-family: Arial, Helvetica, sans-serif;}
a:link {text-decoration: none;color: black;font-family: Arial, Helvetica, sans-serif;}
a:hover{text-decoration: none;color:black;font-family: Arial, Helvetica, sans-serif;}

div.headerpic{
   margin-left:0;
   width:1100px;
   height:500px;
   background-image: url(image6.jpg);
   background-attachment: fixed;
   background-size: 1600px 1000px;
   background-repeat:no-repeat;
   background-position: -250px 70px;
}

div.scroll{
   width:900px;
   margin:0 auto;
}

img.guest{
   float:left;
   width:400px;
  
}

h1.title{
   text-align:center;
   color:#B39657;
   font-size:50px;
   font-family:Sans-serif;
   font-weight:normal;
   letter-spacing:10px;
}

div.order{
   width:900px;
   height:600px;
   margin:0 auto;
   background-image: url(image7.jpg);
   background-size: cover;
   display:flex;
   justify-content:center; 
   align-items:center;
}

.panel{
   width:400px;
   height:105px;
   background-color: white;
   text-align: center;
   padding-top: 30px;
}

p.p3{
   font-size: 11px;
   font-family:Sans-serif;
   letter-spacing:2px;
   color:#666666;
   font-weight: 600;
}

a.order{
   text-decoration: none;
   color: #666666;
   font-family: Georgia;
   font-size: 30px;
}

div.p4{
   margin-top: 60px;
   margin-bottom: 60px;
}

h2.p4{
   text-align: center;
   color: #737373;
   font-size: 13px;
   font-family: Arial;
   letter-spacing: 1px;
}

p.p4{
   text-align: center;
   color:#B39657;
   font-family: 'Libre Baskerville', serif;
   font-size: 32px;
   font-style:italic;
   font-weight: 500;
  
}

div.footerpic{
   left:0;
   width:1100px;
   height:430px;
   background-image:url(image5.jpg);
   width: 1200px;
   background-attachment: fixed;
   background-size: 1100px 1100px;
   background-repeat:no-repeat;
   background-position: 0px 50px;
   filter:contrast(55%) brightness(110%) saturate(130%);
}

footer{
   height:100px;
   width:1100px;
   padding-bottom: 50px;
   padding-top: 35px;
   padding-left: 10px;
   padding-right: 10px;  
   background-color: #B39657;
   margin-bottom: 50px;
}

p.footer{
   font-family:Sans-serif;
   font-size: 12px;
   font-weight: 600;
   color:white;
   margin-left: 720px;
}