div.container{
    margin-top: 50px;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 600;
}
label.star::after{
    content:" * ";
    color:red;
}
select{
    width: 150px;
    appearance:none;
    -moz-appearance:none;
    border-block-style:none;
}
button.search{
    width:74px;
    height: 32px;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 3px;
    background-image: url(searchbtn.jpg);
    background-size:contain;
}
button.clear{
    width:74px;
    height: 31px;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 3px;
    background-image: url(clearbtn.jpg);
    background-size:contain;
}
div.detail{
    width: 150px;
    padding-top: 20px;
    margin:auto
}
button.result{
    width:60px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-image: url(resultbtn.jpg);
    background-size:contain;
}
button.favourite{
    width:60px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-image: url(favourite.jpg);
    background-size:contain;
}



